html 
    body 
        .div 
            .dice
                .diceClass.diceOpen
                 img#dice1(src="/img/sortbox.png")
                .diceClass.diceOpen
                 img#dice2(src="/img/sortbox.png")
                .diceClass.diceOpen
                 img#dice3(src="/img/sortbox.png")
                .diceClass.diceOpen
                 img#dice4(src="/img/sortbox.png")
                .diceClass.diceOpen
                 img#dice5(src="/img/sortbox.png")
        .div