doctype html
html
    head
        title= pageName
    body
        h1 Game Lobby
        p Welcome, #{username}!
        h2 Players in Lobby:
        ul
            each user in users
                li= user
        if users.length > 0
            form(action="/start-game" method="POST")
                button(type="submit") START GAME
        else
            p Waiting for more players...
        br
        a(href="/logout") Logout