doctype html
html
    head
        title= pageName
        link(rel="stylesheet", href="/css/background.css")
        link(rel="stylesheet", href="/css/forms.css")
        link(rel="stylesheet", href="/css/inputsAndLabels.css")
        link(rel="stylesheet", href="/css/buttons.css")
    body
        h1 Host a Game
        form(action="/menu/host", method="POST")
            label(for="gameID") Game ID:
            input(type="number", name="gameID", id="gameID", required)
            label(for="playerList") List of player that can join seperated by commas
            input(type="text", name="playerList", id="playerList")
            label(for="playerLimit") Player Limit:
            input(type="number", name="playerLimit", id="playerLimit", min="1", required)
            button(type="submit") Create Game
        h2 Your Games
        ul
            each game in yourGames
                li= `${game.game} (Host: ${game.host})`