doctype html
html
    head
        title Join a Game
        link(rel="stylesheet", href="/css/background.css")
        link(rel="stylesheet", href="/css/buttons.css")
    body
        h1 Available Games
        ul
            each game in games
                li
                    a(href=`/game/${game.game}`) Join Game #{game.name} - Host: #{game.host}
        // Link to return to the main menu or create a new game
        a(href="/menu") Back to Menu