doctype html
html
    head
        title Join a Game
    body
        h1 Available Games
        ul
            each game in games
                li
                    a(href=`/game/${game.gameId}`) Join Game
        // Link to return to the main menu or create a new game
        a(href="/menu") Back to Menu