doctype html
html
    head
        title= pageName
    body
        h1 Yahtzy
        if registeredUser
            include includes/menu/userMenu
        else
            include includes/menu/unregisteredMenu