doctype html
html
    head
        title= pageName
        link(rel="stylesheet", href="css/menuPage.css")
    body
        div(id="button")
            h1= pageName
            if loggedIn
                include includes/menu/userMenu
            else
                include includes/menu/unregisteredMenu