doctype html
html
    head
        title= pageName
    body
        h1= pageName
        if loggedIn
            include includes/menu/userMenu
        else
            include includes/menu/unregisteredMenu