form(action="/menu/join", method="GET")
    button(type="submit") JOIN

form(action="/menu/host", method="GET")
    button(type="submit") HOST

form(action="/menu/settings", method="GET")
    button(type="submit") SETTINGS

form(action="/logout", method="GET")
    button(type="submit") LOGOUT

